{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content"><a href="{% url 'main:home' %}">Главная</a><a href="{% url 'users:profile' %}">/Личный кабинет</a></div>
<div class='profile_cho'>
    <div class="profile">
        <div class="profile_title">Профиль пользователя</div>
        <form>
            <img src="{% static "/main/img/baseavatar.jpg" %}" alt="Аватар пользователя" class="avatar" style="max-width: 475px;">
            <input type="file" class="change_image" id="avatar" accept="image/*">

            <label class="profile_text-field__label">Имя</label>
            <input placeholder="Name" class="profile_text-field__input" type="text" name="Firstname">

            <label class="profile_text-field__label">Фамилия</label>
            <input placeholder="Surname" class="profile_text-field__input" type="text" name="Secondname">

            <label class="profile_text-field__label">Отчество</label>
            <input placeholder="Patronymic" class="profile_text-field__input" type="text" name="Patronymic">

            <label class="profile_text-field__label">Имя пользователя</label>
            <input placeholder="Username" type="text" class="profile_text-field__input"  name="Username" >

            <label class="profile_text-field__label">Электронная почта</label>
            <input placeholder="Email" type="text" class="profile_text-field__input" name="Email">

            <label class="profile_text-field__label">Контактный телефон</label>
            <input placeholder="Contact number" type="text" class="profile_text-field__input"  name="Number">

            <label class="profile_text-field__label">Дата рождения</label>
            <input type="Date" class="agree" name="Dateofbirth">

            <button type="submit" class="submit">Сохранить</button>
        </form>
    </div>
    <div class="profile_service">
        <div class="profile_title">История услуг</div>
            <h4 class="accordion-header" id="heading1">
                Заказ № 256 - 09 сентября 2023 9:04
            </h4>
            <h4 class="accordion-header" id="heading2">
                Заказ № 248 - 01 августа 2023 11:28
            </h4>
        </div>
    </div>
</div>
{% endblock content %}