{% extends "main/base.html" %}
{% load static %}
{% block content %}
<section>
    <div class="content"><a href="../index.html">Главная</a><a href="../services.html">/Услуги</a><a href="ENT.html">/ЛОР</a></div>
<div class="service">
    <span>Врачи</span>
    <br>
    Лаврентьева Наталья Борисовна, Мурановкина Наталья Вячеславовна.
    <br>
    <span>Кто это?</span>
    <br>
    Оториноларинголо́гия или ЛОР (также часто отоларинголо́гия) — раздел медицины и медицинская специальность, которая специализируется на диагностике и 
    лечении патологий уха, горла, носа, а также головы и шеи.
    <br>
</div>
</section>
<section>
    {% endblock content %}